body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.top, .middle-1, .middle-2, .signup-container {
    flex: 1;
}

h1, h2, p {
    margin: 0px;
    border:0;
}

.top {
    display: flex;
    flex-direction: column;
}

.top, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.header img {   
    height: 20px;
}

.header-links {
    display: flex;
    gap: 12px;
}

li {
    list-style: none;
}

.top-content {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0px 20% 18px 20%;
}

.top-content img {
    height: 130px;
}

.top-left {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-left h1, .top-left button {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.top-left p, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.top-left button {
    width: 100px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #3882F6;
}

.middle-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    display: flex;
    margin: 8px;
    justify-content: space-around;
    
}

.images-and-subtext {
   display: flex;
   flex-direction: column;
   width: 100px;
   margin: 16px;
}

.middle-2 {
    flex: 1;
    display: flex;
    padding:0 10%;
    flex-direction: column;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
}

.quote-author {
    align-self: flex-end
}


.signup-container-1 {
    display: flex;
    flex-direction: column;
    padding: 16px 20%;
    justify-content: center;
    align-items: center;
}

.signup-container-2 {
    background-color: aquamarine;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    flex: 0;
    padding: 12px;
    text-align: center;
    background-color: aqua;

}